
.container {
  text-align: center;
  color: black;
}

.contentContainer{
  padding: 25px
}

.title {
  font-size: 3em;
  margin-bottom: 20px;
}

.description {
  font-size: 1.5em;
  margin-bottom: 30px;
  line-height: 1.5em
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
}

