
.container {
  text-align: center;
  color: black;
  padding: 50px;
  height: 500px;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
  padding-left: 200px; /* Adjust as needed */
}

.description {
  font-size: 1em;
  margin-bottom: 30px;
  padding-left: 200px; /* Adjust as needed */
  line-height: .1em; /* Adjust line height as needed */
}

