
.container {
  text-align: center;
  color: black;
  height: 350px;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
}

.description {
  font-size: 1em;
  margin-bottom: 30px;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
}

