.heroBanner {
    background-color: #54bc77;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroText {
    color: white;
    font-size: 20px; /* Adjust the size as needed */
    text-align: center;
    line-height: 15px; /* Same as the height of the heroBanner to center vertically */
}

@media (max-width: 768px) {
    .heroBanner {
        height: 50px; /* Adjusted height for mobile screens */
        padding-left: 20px;
    }

    .heroText {
        font-size: 18px; /* Smaller font size for mobile */
        padding: 0 10px; /* Add padding to ensure text does not touch the edges */
        line-height: 1.1; /* Adjusted for mobile screen */
    }
}