.faqContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faqHeader, .subHeading {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.headingContainer {
    text-align: center;
}

@media screen and (max-width: 768px) {
    /* Adjust styles for mobile view */
    .faqHeader, .subHeading {
        width: 95%;
        padding: 0 10px; /* Add padding for small screens */
    }


}
