.footer {
    background-color: #f4fff8;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    padding-left: 150px;
    padding-top: 100px;
    font-family: Arial, sans-serif;
    width: 100%;
}

.h2 {
    font-size: 24px;
    color: #4b446c;
}

.logoAddressContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo {
    width: 300px; /* Set the width of your logo */
    height: auto; /* Maintain aspect ratio */
}

.address {
    margin-top: 8px; /* Space between the logo and the address */
    font-size: 0.9rem; /* Size of the address text */
    color: #4b446c;
}

.contactContainer {
    margin-left: 90px; /* Space between logo/address and contact information */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.numberButton {
    color: #4b446c;
    border: none;
    font-size: 18px;
    background: none;
}

.contactContainer h2 {
    font-size: 1.5rem; /* Size of the 'Contact Us' heading */
    color: #333; /* Color of the 'Contact Us' heading, change as needed */
    margin: 0 0 0.25rem 0; /* Adjust heading margins as needed */
}

.contactContainer .phoneNumber {
    font-size: 1rem; /* Size of the phone number text */
    color: #333; /* Phone number text color, change as needed */
    margin: 0; /* Adjust phone number margins as needed */
}

.contactContainer .emailAddress {
    font-size: 16px; /* Size of the email address text */
    color: #4b446c;

    margin: 0.5rem 0 0 0; /* Space above the email address */
}

/* Add additional styles as needed for other elements */

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        padding-top: 50px;
        width: 440px;
    }

    .logoContainer,
    .contactContainer {
        align-items: center;
        text-align: center;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .address,
    .emailAddress,
    .numberButton {
        text-align: center;
    }
}

/* Media Query for mobile devices */
@media (max-width: 480px) {
    .footer {
        padding-left: 10px;
        padding-top: 30px;
    }

    .h2 {
        font-size: 20px;
    }

    .address,
    .emailAddress {
        font-size: 14px;
    }

    .numberButton {
        font-size: 16px;
    }
}