.heroBanner {
    background-color: #54bc77;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heroText {
    color: white;
    text-align: center;
    line-height: 15px; /* Same as the height of the heroBanner to center vertically */
}

.text{
    color: white;
}
