.card {
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border: 2px solid #ccc; /* Adjust color as needed */
    border-radius: 10px; /* Adjust radius as needed for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust shadow to your preference */
    padding: 20px; /* Added padding for some spacing inside the card */
    background-color: #fff; /* Optional: Set a background color */
}

.button {
    width: 143px;
    height: 49px;
}

.cardTitle {
    font-size: 24px;
    margin: 16px 0;
    color: #474350;
    text-align: center;
}

.cardDescription {
    color: #4b446c;
    font-size: 18px;
    margin: 0 16px 16px;
    text-align: center;
}

.price {
    font-size: 35px;
}

/* Add additional styles for the ButtonComponent if needed */
