.container {
    display: flex; /* Enables Flexbox layout */
    flex-direction: column; /* Stacks the flex items vertically */
    align-items: stretch; /* Ensures that children stretch to fill the container */
    justify-content: flex-start; /* Aligns content to the start */
    width: 100%; /* Ensures the container takes the full width of its parent */
    max-width: 100%; /* Ensures the container does not exceed the width of its parent */
    padding: 0; /* Removes padding to allow content to reach the edges */
    box-sizing: border-box; /* Includes padding in the element's total width and height */
}

.list {
    width: 100%; /* Ensures the list takes full width */
}

.listContainer {
    width: 100%; /* Ensures the div takes the full width */
    display: flex;
    flex-direction: column; /* Stacks list and image vertically */
    align-items: stretch; /* Ensures that children stretch to fill the container */
}

.imageContainer {
    display: flex;
    justify-content: center; /* Centers the image */
    width: 100%; /* Allows the image container to take full width */
    margin: 20px 0; /* Adds some vertical space around the image */
}
