.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.header {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
}

.title {
    margin: 0;
    flex-grow: 1;
}

.toggle {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    background-color: #000000;
    color: white;
    padding: 5px;
}

.toggle:hover {
    background-color: #Ab8b65;
}

.content {
    padding: 10px;
    display: none;
}

/* Add a display property to .content when card is expanded */
.card .content {
    display: block;
}



