.navItem {
    position: relative;
    padding: 8px 12px;
}

.navLink, .dropdownLink {
    color: #666;
    text-decoration: none;
    font-size: 18px;
}

.navLink:hover {
    color: #f5a623;
}
.dropdownLink:hover{
    color: #fff
}
.arrowIcon {
    margin-left: 8px;
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(180deg);
}

.dropdown {
    display: block;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin-top: 0px;
    border-radius: 4px;
    width: 150px;
}

.hidden {
    display: none;
}

.dropdownItem {
    padding: 12px 16px;
    transition: background-color 0.3s ease;
}

.dropdownItem:hover {
    background-color: #f5a623;
    color: white;
}
